body {
    text-align: center;
    color:black;
    font-size:18px;
    background-image: url(80fd75b31c.jpg)
    background-size:cover;
    width:%50;
    margin:auto;
}

h1 {
    text-align:center;
    border-bottom: solid 20px black;
    background-color: burlywood;
}

img {
    border:dotted 5px black;
    border border-radius: 10%;
    margin: auto;
    width: 75%;
    display:block;
}

.merkez{
      text-align: center;
}